NET "out<0>" LOC = P15 | IOSTANDARD = LVTTL;
NET "out<1>" LOC = P16 | IOSTANDARD = LVTTL;
NET "out<2>" LOC = P17 | IOSTANDARD = LVTTL;
NET "sum" LOC = P21 | IOSTANDARD = LVTTL;
NET "carry" LOC = P22 | IOSTANDARD = LVTTL;